@model List<ResturantSystem.Models.ContactU>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Contact US</h2>

<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Action</th>
    </tr>
</table>