
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using(Html.BeginForm("Index", null,FormMehod.POST))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>login</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control=label"})

        </div>
    </div>
}
