@model List<ResturantSystem.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-right ">
    <a href="@Url.Action("Index","Admin")" type="button" class="btn btn-primary mt-4">+ Goto List</a>
</div>
<div class="card card-primary mt-4">
    <div class="card-header">
        <h3 class="card-title">Add Category</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form id="quickForm">
        <div class="card-body">
            <div class="form-group">
                <label for="">FoodCategory</label>
                <input type="text" name="FoodCategory" class="form-control" id="foodcategory" placeholder="Enter Category">
            </div>

            @*<div class="form-group">
            <label for=""></label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>*@
            @*<div class="form-group mb-0">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
            </div>
        </div>*@
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
</div>

