@model ResturantSystem.Models.OrderModel
@{
    ViewBag.Title = "OrderComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<style>
    .card-body {
        margin-top: 60px;
    }

    .col-md-4 {
        margin-top: -80px;
        margin-left: 30px;
    }
</style>*@
@*<section class="content p-3">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="framework">
                <div class="card">
                    <div class="card-header">


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body ">
                        <h3 style=" text-align:center;">Your Confirmed Order</h3>
                        <div class="created table-bordered ">
                        </div>

                    </div>
                    <div class="mt-3">
                    </div>
                    <div class="mt-5">
                        <div class="p-5">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label><strong>Product Name:</strong></label><br />
                                            <label><strong>Product Price:</strong></label></br>
                                            <label><strong>Quantity:</strong></label><br />
                                            <label><strong>Discount:</strong></label><br />
                                            <label><strong>Total Price:</strong></label><br />
                                        </div>
                                        <div class="col-md-4">
                                            <label>@Model.ProductName</label><br />
                                            <label>@Model.ProductPrice</label><br />
                                            <label>@Model.Quantity</label><br />
                                            <label>@Model.discount %</label><br />
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

        </div>
    </div>
</section>*@
