@model ResturantSystem.Models.DiscountTable
@{
    ViewBag.Title = "AddDiscount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .background {
        background-color: white;
    }

    .btn {
        font-weight: 500;
        color: white;
    }

    .card-title {
        font-size: 20px;
        color: white;
    }
</style>
<div class="background">

    <div class="text-right ">
        <a href="@Url.Action("Index","Discount")" type="button" class="btn btn-warning mt-2 mr-3 ">+ Goto List</a>
    </div>
    <div class="card card-warning mt-2">
        <div class="card-header ">
            <h3 class="card-title ml-2">Discount Add</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body ml-3">
            @using (Html.BeginForm("AddDiscount", "Discount", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm-6">

                        <!-- text input -->

                        <div class="form-group">
                            <label for="">FoodCategory</label>
                            @Html.DropDownList("Categories", null, "Select Category", htmlAttributes: new { @Name = "FoodCategory", @class = "form-control  mt-1", @id = "Categories" })

                        </div>
                        <div class="form-group">
                            <label for="">Product Name</label>
                            @Html.DropDownList("ProductTables", null, "Select Product Name", htmlAttributes: new { @Name = "ProductName", @class = "form-control  mt-1", @id = "Product" })

                        </div>
                        <div class="form-group">
                            <label for="">Offer Percent</label>
                            <input type="text" name="OfferPercent" class="form-control  mt-1" id="offerpercent" placeholder="Enter Offer Percent">
                        </div>
                        <div class="form-group">
                            <label for="">Detail</label>
                            <input type="text" name="Detail" class="form-control  mt-1" id="detail" placeholder="Enter Detail of Discount">
                        </div>
                        <br />

                        <button type="submit" class="btn btn-warning ml-2" value="Submit">Submit</button>

                    </div>

                </div>

            }
        </div>
        <!-- /.card-body -->
    </div>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

@*<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="></script>*@

<script>

    //Category ko dropdown bata data change hunai bitikai yo jquery call hunxa normal javascript jasari nai on change ho 
    $(document).on('change', "#Categories", function () {
        var FoodCategory = $(this).find(":selected").val(); //aile select gareko value linxa
        ProductSearch(FoodCategory); //function for product search
    });

    function ProductSearch(FoodCategory) {

        //yo code le euta action call hunxa jun ma chai category pass gareko xa in data 
        $.ajax({
            dataType: 'json',
            data: { FoodCategory: FoodCategory},
            url: "@Url.Action("GetProductByCategoryId","Discount")",  //yo chai hamro kun action call garne vanera ho maile Discount Controller ko  GetProductByCategoryId call gareko xu
            success: function (products) {
                var rData = SetDropDownData(products); //aako data lai euta function ma pass gareko ho 
                $("#Product").html(rData); //final converted data set to Product
            }
        });
    }

    function SetDropDownData(Data) {
        //in this function dropdown ma hune gari option value format ma convert gareko ho
        var Result = '';
        if (Data.length > 0) {
            Result += '<option value="" readonly>--Select Product--</option>';
            for (var i = 0; i < Data.length; i++) {

                if (Data[i] != null) {
                    Result += '<option value="' + Data[i].ProductName + '">' +
                        Data[i].ProductName +
                        '</option>';
                }
            }
            return Result;
        }
        return Result;
    }
</script>

